 /* #formCheckbox
   -------------------------------------------------------------------------- */
/*doc
---
name: a-formCheckbox
category: Atoms
tag: Form
---

`type="checkbox"`のデフォルトスタイルです。`<input>`タグと`<label>`タグの順番で並列に配置してください。
`<input>`タグには`id`属性を、`<label>`タグには`for`属性を指定して紐付けてください。`name`属性は必須で、重複のない値を指定してください。

クリック、タップ、キーボード操作（Macの場合は、tabやtab + shiftでフォーカスの移動、spaceでオンオフなど）で正常に動作することを確認してください。

```jade
input.a-formCheckbox(type="checkbox" id="checkbox1" name="checkbox1" checked)
label(for="checkbox1") チェックボックス1
input.a-formCheckbox(type="checkbox" id="checkbox2" name="checkbox2")
label(for="checkbox2") チェックボックス2
```

非活性状態です。`<input>`タグと`<label>`タグの両方に`disabled`属性を指定します。

```jade
input.a-formCheckbox(type="checkbox" id="checkbox3" disabled)
label(for="checkbox3" disabled) チェックボックス
```

`a-formCheckbox()`mixinでスタイルを継承することができます。

```scss
.anotherCheckbox {
  @include a-formCheckbox();
}
```
*/
@mixin a-formCheckbox() {
  /* デフォルトのチェックボックスを非表示にする。 */
  @include srOnly();

  & + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  & + label:before {
    content: "";
    display: inline-block;
    $size: 1em;
    width: $size;
    height: $size;
    margin-right: 0.25em;
    vertical-align: text-bottom;
    background-image: url("/assets/img/common/icon/formCheckbox_off.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:focus + label:before {
    border-color: $form-focus-border-color;
    box-shadow: $form-focus-box-shadow;
  }

  &:checked + label:before {
    background-image: url("/assets/img/common/icon/formCheckbox_on.svg");
  }

  &:disabled,
  & + label[disabled] {
    opacity: $form-disabled-opacity;
    cursor: $form-disabled-cursor;
  }
}

.a-formCheckbox {
  @include a-formCheckbox();
}
