 /* #textCalm
   -------------------------------------------------------------------------- */
/*doc
---
name: a-textCalm
category: Atoms
tag: Text
---

ゆったりと落ち着いた印象を与えたいときに使います。

```jade
p.a-textCalm ゆったり読ませたい文章に使います。
  br
  | 行送りが大きめの値になっているので、落ち着いた印象を与えることができます。画像と合わせてというよりも、文章単体で使う場面が多いと思います。
```
*/
.a-textCalm {
  line-height: $line-heigth-calm;
}
