 /* #base
   -------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: ((map-get($font-size, sm) / 16) * 100%);
  line-height: 1.6;

  @include mq(md) {
    font-size: ((map-get($font-size, md) / 16) * 100%);
  }
}

/**
 * 日本語
 */
html[lang^="ja"] {
  font-family: $font-family-sans-serif-5;
}

/**
 * 英語
 */
html[lang^="en"] {
  font-family: $font-family-en-sans-serif;
}

/**
 * 中国語(簡体字)
 */
html[lang="zh-cn"] {
  font-family: $font-family-zh-cn-sans-serif;
}

/**
 * 中国語(繁体字)
 */
html[lang="zh-tw"] {
  font-family: $font-family-zh-tw-sans-serif;
}

body {
  color: $color-text;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-kerning: normal;
  background-color: #fff;
}

/**
 * 日本語では斜体を使用しないためリセットします。
 */
[lang="ja"] i,
[lang="ja"] cite,
[lang="ja"] em,
[lang="ja"] address,
[lang="ja"] dfn {
  font-style: normal;
}

/**
 * フルードイメージにします。
 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/**
 * imgとobject要素でSVGをフルードイメージにします。
 */
[src$=".svg"],
[data$=".svg"] {
   /* IE対応 */
  width: 100%;
}

code {
  font-family: $font-size-monospace;
  font-size: 0.85em;
}

/**
 * IE10以降`input[type="text"]`の入力内容の消去を非表示にします。
 */
input::-ms-clear {
  visibility: hidden;
}

/**
 * IE10以降の`input[type="password"]`のマスクの一時的解除を非表示にします。
 */
input::-ms-reveal {
  visibility: hidden;
}

/**
 * `dt`と`dd`の左端を揃えます。
 */
dd {
  margin-left: 0;
}

/**
 * 余白に関するスタイルを持たないブロックとします。
 */
figure {
  margin: 0;
}

/**
 * ブロック要素の上下のマージンをリセットします。
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset,
pre {
  margin-top: 0;
  margin-bottom: 0;
}
